<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo de Predição - API Test</title>
</head>
<body>
    <h1>Teste de API de Modelo de Predição</h1>

    <!-- Formulário para Predição -->
    <h2>Predição</h2>
    <form id="predictForm">
        <input type="text" id="margemBrutaAcumulada" placeholder="Margem Bruta Acumulada" required>
        <input type="text" id="faturamentoBruto" placeholder="Faturamento Bruto" required>
        <input type="text" id="percentualRisco" placeholder="Percentual de Risco" required>
        <button type="submit">Enviar Predição</button>
    </form>
    <p id="predictionResult"></p>

    <!-- Formulário para Gerar Gráficos -->
    <h2>Gerar Gráficos</h2>
    <form id="graphsForm">
        <button type="submit">Gerar Gráficos</button>
    </form>
    <div id="graphsContainer"></div>

    <script>
        document.getElementById('predictForm').onsubmit = function(event) {
            event.preventDefault();
            const margem = document.getElementById('margemBrutaAcumulada').value;
            const faturamento = document.getElementById('faturamentoBruto').value;
            const risco = document.getElementById('percentualRisco').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    margemBrutaAcumulada: margem,
                    faturamentoBruto: faturamento,
                    percentualRisco: risco
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predictionResult').textContent = 'Resultado da Predição: ' + data.Prediction;
            })
            .catch(error => console.error('Erro ao fazer predição:', error));
        };

        document.getElementById('graphsForm').onsubmit = function(event) {
            event.preventDefault();
            fetch('/generate_plots', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    // Substitua isto pelos dados de teste necessários para os gráficos
                })
            })
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('graphsContainer');
                container.innerHTML = '';  // Limpar conteúdo anterior
                data.urls.forEach(url => {
                    const img = document.createElement('img');
                    img.src = url;
                    container.appendChild(img);
                });
            })
            .catch(error => console.error('Erro ao gerar gráficos:', error));
        };
    </script>
</body>
</html>
